name: Flutter Build APK

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build APK
        run: flutter build apk --debug

      - name: Rename APK
        run: mv build/app/outputs/flutter-apk/app-debug.apk build/app/outputs/flutter-apk/inventory-app.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Inventory-App-Build
          path: build/app/outputs/flutter-apk/inventory-app.apk